[user]
	name = Marc Bodmer
	email = marc.bodmer@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
	lg = log -n 8 --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	c = commit -m
	cob = checkout -b
	ca = commit --amend -C HEAD
	st = status -s
	purr = pull --rebase
	pushup = push origin head
	co = checkout
	st = status -s
	co = checkout
	p = push
	pf = push -f
	pu = pull
	last = log -1 HEAD --stat
	undo = reset HEAD~1 --mixed
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	# Remove branches that have already been merged with master
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
	# Hub
	pr-staging = pull-request -b staging | pbcopy
	pr-master = pull-request -b master -h staging | pbcopy
[color]
	ui = true
[push]
	default = current
[credential]
	helper = cache --timeout=3600000000000
[branch]
	autosetuprebase = always
