[user]
	name = Marc Bodmer
	email = marc.bodmer@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
	lg = log -n 15 --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	c = commit -m
	cob = checkout -b
	ca = commit --amend -C HEAD
	st = status -s
	purr = pull --rebase
	pushup = push origin head
	co = checkout
	up = !git fetch origin && git rebase origin/master
	# Remove branches that have already been merged with master
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
	# Hub
	pr-staging = pull-request -b staging | pbcopy
	pr-master = pull-request -b master -h staging | pbcopy
[color]
	ui = true
[push]
	default = current
[credential]
	helper = cache --timeout=3600000000000
[branch]
	autosetuprebase = always
